@page "/"
@using System.Timers

<PageTitle>Index</PageTitle>

<style>
    .container {
        width: 400px;
    }
    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>
<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescription))">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
    <div class="container">
        <h2>Matches found: @matchesFound</h2> <!--맞춘 짝의 갯수 표시-->
    </div>
    <div>
        <h2>Time: @timeDisplay</h2>
    </div>
</div>
@code
{
    List<string> animalEmoji = new List<string>()
    {
        "🙀", "🙀",
        "🙉", "🙉",
        "🐭", "🐭",
        "🐼", "🐼",
        "🦝", "🦝",
        "🦊", "🦊",
        "🐸", "🐸",
        "😛", "😛",
    };

    List<string> shuffledAnimals = new List<string>();
    int matchesFound = 0; //맞춘 짝의 숫자 넣을 변수
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;
        SetUpGame();
    }
    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
                                .OrderBy(Item => random.Next())
                                .ToList();
        matchesFound = 0; //맞춘 짝의 갯수 0으로 초기화
        tenthsOfSecondsElapsed = 0;
    }

    string lastAniamlFound = string.Empty;
    string lastDescription = string.Empty;
    private void ButtonClick(string animal, string animalDescription)
    {
        if (lastAniamlFound == string.Empty) 
        {
            //짝을 맞출 첫 번째 동물을 저장
            lastAniamlFound = animal;
            lastDescription = animalDescription;

            timer.Start();
        }
        else if((lastAniamlFound == animal) && (animalDescription != lastDescription)) //첫번째 동물과 두번째 동물이 일치하면
        {
            //일치하면 다음 짝을 위해 초기화
            lastAniamlFound = string.Empty;
            //찾은 동물은 공백 문자로 대체
            shuffledAnimals = shuffledAnimals
                                    .Select(a => a.Replace(animal, string.Empty))
                                    .ToList();
            matchesFound++; //맞출 때 마다 1씩 추가
            if (matchesFound == 8) //다 맞추면...
            {
                timer.Stop();
                timeDisplay += "-Play Agian?";
                SetUpGame(); //초기화
            }
        }
        else //일치하지 않으면...
        {
            //선택을 초기화 한다.
            lastAniamlFound = string.Empty;
        }
    }

    private void Timer_Tick(object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F).ToString("0.0s");
            StateHasChanged();
        });
    }
};